<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.first_name }} {{ site.last_name }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description }}"
}
</script>

{% if page.url == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.first_name }} {{ site.last_name }}",
  "url": "{{ site.url }}",
  "email": "mailto:{{ site.email }}",
  "image": "{{ site.url }}/assets/img/prof_pic.jpg",
  "jobTitle": "Ph.D. Candidate",
  "affiliation": {
    "@type": "Organization",
    "name": "The University of Texas at Austin"
  },
  "sameAs": [
    {% if site.github_username %}"https://github.com/{{ site.github_username }}"{% endif %}
    {% if site.twitter_username %},"https://twitter.com/{{ site.twitter_username }}"{% endif %}
    {% if site.linkedin_username %},"https://www.linkedin.com/in/{{ site.linkedin_username }}"{% endif %}
    {% if site.scholar_userid %},"https://scholar.google.com/citations?user={{ site.scholar_userid }}"{% endif %}
  ]
}
</script>
{% endif %}
