<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->

    {% include footer.html %}

    {% include scripts/bootstrap.html %}
    {% include scripts/mansory.html %}
    {% include scripts/misc.html %}

    <div style="display:none;">
      <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=mxIKLPa2szScMHgn1Idf08r09R_zEhFCMEm4Lm4Q5rE"></script>
    </div>

  </body>

</html>
